[Unit]
Description=RtBrick BNG Blaster Controller
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
Group=root
Environment="USER=root"
Environment="GROUP=root"
ExecStart=/usr/local/bin/bngblasterctrl
StandardOutput=file:/var/log/rtbrick-bngblasterctrl-service-out.log
StandardError=file:/var/log/rtbrick-bngblasterctrl-service-err.log
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
Alias=rtbrick-bngblasterctrl.service