name: Build

on:
  push:
    paths-ignore:
    - 'docs/**'

  pull_request:
    paths-ignore:
    - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25

    - name: Build
      run: make build

    - name: Test
      run: make test
